.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#social-links {

    padding: 10px;
   gap: 16px;
   padding: 24px 0;
   font-size: 24px;
       
}

#social-links a{

    padding: 10px;
    transition: background .2s;
    border-radius: 50%;
}